/*彩色线条*/
.hr-colorful{
    background: linear-gradient(90deg, rgb(247, 149, 51) 0, rgb(243, 112, 85) 15%, rgb(239, 78, 123) 30%, rgb(161, 102, 171) 44%, rgb(80, 115, 184) 58%, rgb(16, 152, 173) 72%, rgb(7, 179, 155) 86%, rgb(109, 186, 130) 100%);
    height: 2px!important;
  }


/*彩色加粗*/
b, strong {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    --strong-gradient: linear-gradient(62deg,#188bfd,#a03bff)!important;
    background-image: var(--strong-gradient);
    font-weight: bolder;
}