<style>

    #upBtn {
      display: none; /* 默认隐藏 */
    }
    
    .shareBtn {
    margin: 2 auto;
    position: fixed; 
    z-index: 99; 
    cursor: pointer; 
    bottom: 70px; 
    right: 16px; 
    width: 52px;
    float: left;
    text-align: center;
    }
    
</style>
    
    <div class="container-fluid">
        <div class="shareBtn">
                <a  id="upBtn"  href="javascript:topFunction()" title="向上"> <i class="fa fa-arrow-up fa-2x text-warning"></i></a>
        </div>
    </div>